//- Standard footer
#FooterWrapper(
	class=footerWrapperWidth
)
	#Footer(
		class=footerWidth
	)
		.row.text-xs-center
			.col-xs-12
				ul.nav.nav-inline.m-b-1.p-t-1
					each page in pages
						if page.category == 'about'  || page.category == 'privacy-policy'
							li.nav-item
								a.nav-link(href=page.url, rel="nofollow") #{page.title}
						else
							li.nav-item
								a.nav-link(href=page.url) #{page.title}
				p.text-xs-center &copy; #{brandName}