block config
	include core-config

doctype html
<html lang="#{htmlLang}">
head
	title #{pageTitle}
	meta(charset="utf-8")
	meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
	if metaDesc
		meta(name="description" content=metaDesc)
	meta(http-equiv="x-ua-Compatible", content="ie=edge")
	if customFonts !== ''
		link(rel="stylesheet", href=customFonts)
	if customIcons !== ''
		link(rel="stylesheet", href=customIcons)
	link(rel="stylesheet", href='/assets/styles/style.css')
<body style="#{bodyStyles}">