block config
	include core-config

doctype html
<html lang="#{htmlLang}">
head
	if titleTag !== ''
		title #{titleTag}
	else
		title #{pageTitle}
	meta(charset="utf-8")
	meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
	meta(http-equiv="x-ua-Compatible", content="ie=edge")
	meta(name="description" content=metaDesc)
	if customFonts !== ''
		link(rel="stylesheet", href=customFonts)
	link(rel="stylesheet", href=styleUrl)
<body>